body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #fbc2eb, #a6c1ee);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
  margin-bottom: 20px;
}

.input-box {
  position: relative;
  margin: 15px 0;
}

.input-box input {
  width: 100%;
  padding: 12px 40px;
  border-radius: 10px;
  border: none;
  background: #f3e8ff;
  box-sizing: border-box;   /* ✅ FIX */
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 5px;
}

.login-btn {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #a18cd1;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.icon-box {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.google { background: #db4437; }
.facebook { background: #3b5998; }
.apple { background: black; }